<p id="notice"><%= notice %></p>

<h1>Content Items</h1>

<%= link_to 'New Content Item', new_content_item_path, class: "ui right floated teal button" %>

<%= render 'content_items_list', content_items: @content_items %>
